@using Microsoft.AspNetCore.Identity

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProjectInstagram</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ProjectInstagram.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body class="bg-black text-light">
    <header id="nav" class="border-end">
        <nav class="sidebar">
            <a class="navbar-brand mt-5 ms-4" asp-area="" asp-controller="Home" asp-action="Index">
                <span class="fw-bold gradient-text">ProjectInstagram</span>
            </a>
            <ul class="navbar-nav flex-grow-1 mt-5 ms-4 me-4">
                <li class="nav-item">
                    <a class="nav-link text-light fw-bold align-content-center row" asp-controller="Home" asp-action="Index">
                        <i class="bi bi-house-door-fill nav-icon align-middle col-1 gradient-text"></i>
                        <span class="align-middle col">Home</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light fw-bold row" asp-controller="Home" asp-action="PostList">
                        <i class="bi bi-list nav-icon align-middle col-1 gradient-text"></i>
                        <span class="align-middle col">Post list</span>
                    </a>
                </li>
                @if (SignInManager.IsSignedIn(User))
                {
                <li class="nav-item">
                    <a class="nav-link text-light fw-bold row" asp-controller="Users" asp-action="Profile" asp-route-id="@UserManager.GetUserId(User)">
                        <i class="bi bi-person-fill nav-icon align-middle col-1 gradient-text"></i>
                        <span class="align-middle col">Profile</span>
                    </a>
                </li>
                }
                <partial name="_LoginPartial" />
            </ul>
        </nav>
    </header>
    <div id="wragin" class="wrapper">
        <div class="container">
            <main role="main">
                @RenderBody()
            </main>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>