@model UserDto
@using Microsoft.AspNetCore.Identity

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    UserDto activeUser = ViewBag.Active!;
}

<div class="info row">
    <img class="col-2 rounded-circle bio-profile" src="@Model.AvatartLink" />
    <div class="details col row">
        <span class="col-3 align-middle">@Model.UserName</span>

        @if (SignInManager.IsSignedIn(User))
        {
            @if (activeUser.Id != Model.Id)
            {
                <a class="bio-button col" asp-controller="Users" asp-action="ToggleSubscribe" asp-route-profileId="@Model.Id">
                    @if(activeUser.Subscribes.Contains(Model))
                    {
                        <span class="fw-bold">Subscribe</span>
                    }
                    else
                    {
                        <span class="fw-bold">Unsubscribe</span>
                    }
                </a>                
            }
            @if (activeUser.Id == Model.Id)
            {
                <a class="bio-button col" asp-controller="Users" asp-action="Edit">
                    <span class="fw-bold">Edit profile</span>
                </a>
            }
        }
    </div>
</div>