@model UserDto
@using Microsoft.AspNetCore.Identity

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<div class="info row">
    <img class="col-2 rounded-circle bio-profile" src="@Model.AvatartLink" />
    <div class="details col row">
        <span class="col-3 align-middle">@Model.UserName</span>

        @if (SignInManager.IsSignedIn(User))
        {
            <div class="btn-group col row" role="group" aria-label="Basic example">
                @if (UserManager.GetUserId(User) != Model.Id)
                {
                    <a class="bio-button col" asp-controller="Users" asp-action="Subscribe">
                        <span class="fw-bold">Subscribe</span>
                    </a>
                }
                @if (UserManager.GetUserId(User) == Model.Id)
                {
                    <a class="bio-button col" asp-controller="Users" asp-action="Edit">
                        <span class="fw-bold">Edit profile</span>
                    </a>
                }
            </div>
        }
    </div>
</div>